body{
    background-color: lightgreen;
}
main{
    background-color: rgb(198, 233, 240);
}
aside{
    background-color: blue;
}
h2{
    background-color: rgb(198, 233, 240);

}
.primer{
    height: 920px;
}