header.div{
    display: flex;
    align-items: center;
    padding: 20px;
}
main{
    width: 75%;
    height: 80%;
    display: contents;
    align-items: end;
    opacity:0.5;
}
main article section:first-child{
    border: 10px solid black;
    color: white;
    width: 100%;
    padding: 20px;
}
aside{
    width: 20%;
    height: 100%;
    display: block;
    align-self:normal;
    border: 10px solid black;
    padding: 20px;
}
aside div{
    display: grid;
    align-self: center;
}
section iframe{
    width: 400px;
    height: 250px;
}
img{
    width: 20%;
    height: 20%;
    padding: 20px;
    border-radius: 50px;
}